.spinner {
  margin: 100px auto;
  width: 64px;
  height: 64px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}